<!DOCTYPE html>
<html>
<head>
    <title>Job Shop Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Job Shop Schedule</h1>
    <a href="/" class="reschedule-btn">Reschedule</a>

    <h2>Tasks Ordered by Start Time</h2>
    <table class="data-table">
        <tr>
            <th>Task Segment ID</th>
            <th>Job</th>
            <th>Description</th>
            <th>Machines</th>
            <th>Humans</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        {% for segment in segments %}
        <tr>
            <td>{{ segment.task_id }}</td>
            <td>{{ segment.job_id }}</td>
            <td>{{ segment.description }}</td>
            <td>{{ segment.machines }}</td>
            <td>{{ segment.humans }}</td>
            <td>{{ segment.start.strftime('%Y-%m-%d %I:%M %p') }}</td>
            <td>{{ segment.end.strftime('%Y-%m-%d %I:%M %p') }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Job Completion Dates</h2>
    <table class="data-table">
        <tr>
            <th>Job</th>
            <th>Description</th>
            <th>Client</th>
            <th>Promised Date</th>
            <th>Completion Date</th>
            <th>Days Late</th>
            <th>Rand-days Late</th>
        </tr>
        {% for job_id, info in job_completions.items() %}
        {% set days_late = ((info.completion - info.promised_date).total_seconds() / 86400) | round(2) %}
        {% if days_late > 0 %}
            {% set rand_days_late = (days_late * info.unit_price * info.quantity) | round(2) %}
        {% else %}
            {% set rand_days_late = 0 %}
        {% endif %}
        <tr>
            <td>{{ job_id }}</td>
            <td>{{ info.description }}</td>
            <td>{{ info.client }}</td>
            <td>{{ info.promised_date.strftime('%Y-%m-%d %I:%M %p') }}</td>
            <td>{{ info.completion.strftime('%Y-%m-%d %I:%M %p') }}</td>
            <td>{{ days_late }}</td>
            <td>R {{ "{:,.2f}".format(rand_days_late) }}</td>
        </tr>
        {% endfor %}
    </table>

    <div id="terminal">
        {{ log_output }}
    </div>
</body>
</html>